<%- include ('./partials/header') %>
<link rel="stylesheet" href="/index.css">
<%- include ('./partials/last') %>
<%- include ('./partials/nav') %>
<div class=container>
		<div class="row">
			<div class="col-lg-12">
				<div id="main">
					<h1>Chat 4 Fun</h1>
				<h3 >One good friend can be your world but you can find many here</h3>
				<hr>
					<a href="/auth/register"><button class="btn btn-success">Get started</button></a>
				
				</div>
				
			</div>
		</div>
	</div>
<%- include ('./partials/footer') %>